.dropdown {
  display: grid;
  width: 170px;
  user-select: none;
  left: 5%;
}

.dropdown .dropdown-btn {
  padding: 15px 20px;
  background: #21b5bc;
  box-shadow: -5px 10px 10px 5px #888888;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  justify-content: space-between;
  height: 10px;
  border-style: solid;
  border-color: #afc5c7;
}

.dropdown .dropdown-content {
  position: absolute;
  display: grid;
  top: 110%;
  background: #21b5bc;
  box-shadow: -5px 10px 10px 5px #888888;
  font-weight: 500;
  color: #333;
  width: 100%;
  border-style: solid;
  border-color: #afc5c7;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 2px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}
