.vNavbarItems {
  position: relative;
  top: 10%;
  background: transparent;
  display: flex;
  align-items: right;
  /* border-style: solid; */
  /* border-color: red; */
}

.vnav-menu {
  list-style: none;
  padding-left: unset;
  /* border-style: solid;
  border-color: white; */
  width: 100%;
  /* border-style: solid; */
  /* border-color: white; */
}

.vnav-links {
  display: block;
  height: 140px;
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  color: white;
  border-bottom: 5px solid #bdb8d7;
  border-bottom: 5px solid rgba(0, 0, 0, 0.05);
  border-top: 5px solid rgba(255, 255, 255, 0.05);
  /* border-bottom-style: solid;
  border-bottom-color: lightgray; */
  /* border-style: solid; */
  /* border-color: yellow; */
}

.vnav-links:hover {
  background-color: lightseagreen;
  color: #fc5459;
}

/* .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */
