.vNavbarItems {
  position: relative;
  top: 10%;
  background: transparent;
  display: flex;
  align-items: right;
}

.vnav-menu {
  list-style: none;
  padding-left: unset;
  /* border-style: solid;
  border-color: white; */
  width: 100%;
}

.vnav-links {
  display: block; /* Make the links appear below each other */
  padding: 20px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: 25px;
  color: #e57c55;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.vnav-links:hover {
  color: #ff6600;
}
