.vNavbarItems {
  position: relative;
  top: 10%;
  background: transparent;
  display: flex;
  align-items: right;
  /* border-style: solid; */
  /* border-color: red; */
}

.vnav-menu {
  list-style: none;
  padding-left: unset;
  /* border-style: solid;
  border-color: white; */
  width: 100%;
  /* border-style: solid; */
  /* border-color: white; */
}

.vnav-links {
  display: block;
  height: 140px;
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  color: #e57c55;
  border-bottom-style: solid;
  border-bottom-color: black;
  /* border-style: solid; */
  /* border-color: yellow; */
}

.vnav-links:hover {
  color: #ff6600;
}
