.NavbarItems {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%);
  height: calc(100vh - 87vh);
  display: flex;
  justify-content: center;
}

.Grub-logo {
  left: 0px;
  opacity: 0.5;
  height: calc(100vh - 88vh);
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  height: calc(100vh - 87vh);

  grid-gap: 10px;

  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #e57c55;
  padding: 20px;
  position: relative;
  top: 10%;
}

.nav-links:hover {
  color: #ff6600;
}
